* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: #141414; /* Solid Neutral Dark Grey */
}

button {
    font-family: "JetBrains Mono Nerd Font", "JetBrains Mono";
    font-size: 14px;
    border-radius: 0; /* Square corners */
    
    /* Colors */
    color: #E3E6E8; /* Soft Off-White */
    background-color: #1e1e1e; /* Matches Wofi Input BG */
    border: 1px solid rgba(162, 182, 201, 0.2); /* Faint Blue Separator */
    
    /* Layout */
    min-width: 260px;
    margin: 5px; /* Separation between buttons */
    padding: 10px 10px 10px 60px; /* Left padding makes room for icon */
    
    /* Icon Positioning */
    background-repeat: no-repeat;
    background-position: 240px center; /* Icon fixed to left side */
    background-size: 55px; /* Clean icon size */
    
    text-decoration: none;
    outline-style: none;
    transition: all 0.2s ease;
}

/* Hover / Active States */
button:focus, button:active, button:hover {
    color: #A2B6C9; /* Pastel Steel Blue */
    background-color: rgba(162, 182, 201, 0.1); /* Faint Blue Tint */
    border: 1px solid #A2B6C9; /* Accent Border */
}

/* Icon Mappings */
#lock {
    background-image: image(url("icons/lock.png"));
}

#logout {
    background-image: image(url("icons/logout.png"));
}

#reboot {
    background-image: image(url("icons/reboot.png"));
}

#shutdown {
    background-image: image(url("icons/shutdown.png"));
}
#hibernate{
    background-image: image(url("icons/hibernate.png"));
}
#suspend{
    background-image: image(url("icons/pause.png"));
}