* {
    font-family: JetBrains Mono Nerd Font, JetBrains Mono;
    font-size: 14px;
    border-radius: 0;
}

window {
    background-color: #141414; /* Solid Neutral Dark Grey */
    border: 1px solid rgba(162, 182, 201, 0.2);
    color: #E3E6E8;
}

#input {
    padding: 10px;
    margin: 10px; /* Keeps input away from top/side borders */
    background-color: #1e1e1e;
    border: 1px solid rgba(162, 182, 201, 0.2);
    color: #A2B6C9;
}

#outer-box {
    margin: 0px 10px 10px 10px; /* Added margins (Right, Bottom, Left) to prevent clipping */
    background-color: transparent;
}

#inner-box {
    background-color: transparent;
}

#scroll {
    background-color: transparent;
}

#entry {
    padding: 8px;
    margin-bottom: 2px; /* Slight gap between items */
    background-color: transparent;
    color: #E3E6E8;
    transition: all 0.3s ease;
}

#entry:selected {
    background-color: rgba(162, 182, 201, 0.1); 
    color: #A2B6C9;
    border: none;
}

#text {
    color: inherit;
}